<!-- Header -->
<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form method="POST" enctype="multipart/form-data">
					<div class="mb-3">
						<label class="input-group-text" for="foto"></label>
						<input name="foto" type="file" class="form-control" id="foto" value="<%= productos.foto %>">
					</div>
					<div class="mb-3">
						<label for="content" class="form-label"></label>
						<input name="artista" type="text" class="form-control" id="content" value="<%= productos.artista %>">
					</div>
					<div class="mb-3">
						<label for="content" class="form-label"></label>
						<input name="descripcion" type="text" class="form-control" id="content" value="<%= productos.descripcion %>">
					</div>
					<div class="mb-3">
						<label for="fecha" class="form-label"></label>
						<input name="fecha" type="date" class="form-control" id="fecha" value="<%= productos.fecha %>">
					</div>
					<button type="submit" class="btn btn-primary">Entregar</button>
				</form>
			</h2>


			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->