<!-- Header -->
<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
                <form method="POST" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="lugar" class="form-label">Lugar</label>
						<input name="lugar" type="text" class="form-control" id="lugar" value="<%= producto.lugar %>">
					</div>
                    <div class="mb-3">
						<label for="fecha" class="form-label">Fecha</label>
						<input name="fecha" type="date" class="form-control" id="fecha" value="<%= producto.fecha %>">
					</div>
					<div class="mb-3">
						<label for="precio" class="form-label">Precio</label>
						<input name="precio" type="number" class="form-control" id="precio" value="<%= producto.precio %>">
					</div>
                    <div class="mb-3">
						<label for="content" class="form-label">Descripción</label>
						<input name="descripcion" type="text" class="form-control" id="content" value="<%= producto.descripcion %>">
					</div>
					<button type="submit" class="btn btn-primary">Entregar</button>
				</form>
			</h2>


			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->