<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> Concierto
				<%= producto.artista %> | <%= producto.fecha %> </h2>
			
			<% if (locals.me && me.id == producto.usuario_id) { %>
				<p class="product-detail-description">
					<a href="/products/<%= producto.id %>/edit"> Editar </a>
					|
					<a href="/products/<%= producto.id %>/delete" > Borrar producto </a>
				</p>
				
				<% } %>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.entrada %>" alt="" class="product-detail-img">
					<p class="product-detail-description">Precio: $ <%= producto.precio %></p> 
					<p class="product-detail-description"> Ubicación: <%= producto.lugar %> </p>
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
					<p class="product-detail-description">
						Cantidad de entradas: <%= producto.numeroEntradas %> 
					</p>
					<% if (locals.me && me.id == producto.usuario_id){ %> 
						<p class="product-detail-description"> 	 
							Publicado por: <a href="/users/me"><%= producto.usuario.nombreUsuario %></a>
						</p>
					<% } else { %> 
						<p class="product-detail-description"> 	 
							Publicado por: <a href="/users/<%= producto.usuario.id %> "><%= producto.usuario.nombreUsuario %></a>
						</p>
						<% } %> 
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i < comentarios.length; i++) { %>
							<article>
								<img src="<%= comentarios[i].usuario.fotoDePerfil %> " alt="">
								<div class="data">
									<p class="user" > 
										<% if (locals.me && me.id == comentarios[i].usuario_id) { %>
											<strong> <a href="/users/me">
												<%= comentarios[i].usuario.nombreUsuario %> :
											</a> </strong>
											<% } else { %>
										<strong> <a href="/users/<%= comentarios[i].usuario_id %>"> 
												<%= comentarios[i].usuario.nombreUsuario %> :
											</a> </strong>
											<% } %>
										<%= comentarios[i].contenido %>
									</p>
								</div>
							</article>
							<% } %>
					</section>

					<form class="form" action="/products/<%= producto.id %>/comment" method="POST">
						<div>
							<label for="contenido" class="form-label">Comentarios</label>
							<input type="textarea" class="form-control mb-2" name="contenido" id="contenido">
						</div>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				</div>
			</div>
		</div>

		<!-- footer -->
		<%- include('./partials/footer') %>
			<!-- /footer -->